/*
font-family: 'Geo', sans-serif; titulos
font-family: 'Source Sans Pro', sans-serif;  textos
*/
body{
    margin: 0;
    padding: 0;
}
.size {
    height: 70%;
    width: 100%;
	position: relative;
}
#description {
    background: #121B36;

}
#first{
	display: block;
}

#typeSection{
	display: none;
}
h1 {
    font-family:'Geo';
	color:white;
	text-align: center;
	background: #121B36;
	position: sticky;
	margin-top: -9%;
	padding:2% 0;
	
}

.container0{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	
	background-color: white;
	height: auto;
	width: auto;
	position: relative;
	margin-top: -2%;
	
}

#menu{
	text-align: center;
	width:17%;
	height: auto;
	padding: 5%;
	
	margin-bottom: 5px;
	
	
	font-family: 'Geo', sans-serif;
	
}

a{
	text-decoration: none;
	color:#121B36;
}

a:hover {
  background-color:#C1DBDC;
}
p{
	font-family: 'Source Sans Pro', sans-serif;  
	text-align: left;
	font-size: 14px;
	
 }
h2{
	font-family: 'Geo', sans-serif;
}

.subtitle{
	font-family: 'Geo', sans-serif;
	color: white;
	font-size: 34px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.subtitle2{
	font-family: 'Geo', sans-serif;
	color:  #E66353;
	font-size: 34px;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.container1{
	background-color: #E66353;
	padding: 20px;
	
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
	
}

.item-flex{
	width: 108px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	align-content: center;
}


#allPokemon{
	display: flex;
	flex-flow: row wrap;
}
.container2{	
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
}
.container3 {
	display:flex;
	flex-flow: row wrap;
}

article {
	background-color:rgba(238, 238, 236, 0.47);
	width: auto;
	height: auto;
	padding:7px;
	margin-top: 16px;
	margin-left: 6px;
	text-align: center;

	border: 0px ;
	border-radius: 10px;
  	padding: 10px;
  	box-shadow: 5px 8px rgba(30, 30, 46, 0.1);
	
}
 #typePokemon{
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: space-between;
 }

 footer{
	 bottom:0;
	 background-color: #E66353;
	 width: auto;
	 margin-top: 20px;
	 padding-top: 10px;
	 padding-left: 10px;
	 padding-bottom: 10px;
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: flex-start;
 }
.pikachu{
	width: 80px;
	height: auto;
	
	
	
}
#footertext{
	color: white;
	font-family: 'Geo', sans-serif;
	font-size: 35px;
}

