/*
font-family: 'Geo', sans-serif; titulos
font-family: 'Source Sans Pro', sans-serif;  textos
*/
body{
    margin: 0;
    padding: 0;
}
img {
    height: 70%;
    width: 100%;
    margin-top: -9%;
    position:relative
}
#description {
    background: #121B36;


}
#first{
    display: block;
}

#typeSection{
    display: none;
}
h1 {
    font-family:'Geo';
    color:white;
    text-align: center;
    background: #121B36;
    position: sticky;
    margin-top: -9%;
    padding:2% 0;

}

.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    background-color: white;
    height: auto;
    width: auto;
    position: relative;
    margin-top: -2%;

}

#menu{
    text-align: center;
    width:17%;
    height: auto;
    padding: 5%;
    margin-top: 5px;
    margin-bottom: 5px;

    font-family: 'Geo', sans-serif;

}

a{
    text-decoration: none;
    color:#121B36;
}

a:hover {
  background-color:#C1DBDC;
}

h2{
    font-family: 'Geo', sans-serif;
}

.subtitle{
    font-family: 'Geo', sans-serif;
    color: white;
    font-size: 34px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container1{
    background-color: #E66353;
    padding: 20px;

    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;

}

.item-flex{
    width: 108px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
}

.item-flex:hover {
  color:red;
}

.container2{
    background-color: skyblue;
    height: 200px;
    padding: 20px;

    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}